html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

:root {
    --color-bg: #FAF5F0;
    --color-white: #fff;
    --color-black: #000;
    --color-braun: #AC873E;  
    --color-braun-light: #AFA29A;  
    --color-text: #1c1c1c;
    --color-text-light: rgba(#1c1c1c, 0.3);    
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url(../fonts/GTEestiProText-Regular.woff) format('woff'),
        url(../fonts/GTEestiProText-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url(../fonts/GTEestiProText-Medium.woff) format('woff'),
        url(../fonts/GTEestiProText-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url(../fonts/GTEestiProText-Bold.woff) format('woff'),
        url(../fonts/GTEestiProText-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Sans';
    src: url(../fonts/KyivTypeSans-Regular.woff) format('woff'),
        url(../fonts/KyivTypeSans-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Sans';
    src: url(../fonts/KyivTypeSans-Medium.woff) format('woff'),
        url(../fonts/KyivTypeSans-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Sans';
    src: url(../fonts/KyivTypeSans-Bold.woff) format('woff'),
        url(../fonts/KyivTypeSans-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: 'GT Eesti Pro Text', sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--color-white);
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;    
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1390px;
    width: 100%;
}

.btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    justify-content: flex-start;
    color: var(--color-white);    
    border: 1px solid transparent;
    background: transparent;
    font-family: 'KyivType Sans';
    font-weight: 500;    
    text-align: center;
    cursor: pointer;    
    transition: all 0.3s ease-in-out;
}

.btn--record {
    padding: 8px 12px;
    gap: 8px;    
    border-radius: 999px;  
    background: transparent;   
    text-transform: uppercase;
}    

.btn--white {   
    background: var(--color-white);
    color: var(--color-text);
}

.btn--braun {   
    background: linear-gradient(180deg, #D4B26F -66.86%, #A87C25 180.08%);
    color: var(--color-white);   
}

.btn--white:hover {
    background: linear-gradient(180deg, #D4B26F -66.86%, #A87C25 180.08%);
    color: var(--color-white);
}

.btn--braun:hover {
    background: var(--color-white);
    color: var(--color-braun);    
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;    
    transition: all 0.3s ease-in-out;
}

.btn__icon .btn__arrow {
    width: 9px;
    height: 9px;
    fill: currentColor;
}

.btn--white .btn__icon {
    background: var(--color-braun);
    color: var(--color-white);
}

.btn--braun .btn__icon {
    background: var(--color-white);
    color: var(--color-braun);
}



.btn--white:hover .btn__icon {
    background: var(--color-white);
    color: var(--color-braun);
}

.btn--braun:hover .btn__icon {
    background: var(--color-braun);
    color: var(--color-white);
}

/*HEADER*/
.header {
    padding: 8px 0;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__wrapper {
    width: 100%;
    background: var(--color-bg);
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__wrapper--opacity {    
    background-color: transparent;
}

.header__wrapper--color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    transform: translateY(0%);
}

.header__wrapper--hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
}

.header__container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    width: 100%;    
}

.header__top {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;        
}

.header__left {
    display: flex;
    align-items: center;
    gap: 12px;    
}

.link-yandex {
    padding: 4px;    
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(240, 231, 223, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 34px;
    width: 166px;
    height: 48px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link-yandex:hover {
    background: var(--color-white);
    color: var(--color-black);
}

.link-yandex__icon {
    width: 44px;
    height: 44px;
}

.link-yandex__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.link-yandex__text {
    font-weight: normal;
    font-size: 12px;
}

.header__text {    
    font-weight: normal;
    font-size: 0.75rem;
    max-width: 210px;
}

.header__logo {
    display: flex;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-self: end;
}

.link-social {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;    
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 90px;
    transition: all 0.3s ease-in-out;
}

.link-social {
    background: var(--color-white);
}

.link-social--opacity {
    background: rgba(255, 255, 255, 0.12);
}

.link-social__icon  {
    width: 20px;
    height: 20px;     
    transition: fill 0.3s ease-in-out;    
}

.link-social__icon.link-social__icon--opacity {
    fill: var(--color-white);
}

.link-social:hover {
    transform: scale(1.1);
}


.link-social:not(.link-social--opacity) .link-social__icon--wa {
    fill: #75B252;
} 

.link-social:not(.link-social--opacity) .link-social__icon--tg {
    fill: #539CE0;
} 

.header__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link-phone {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-family: 'KyivType Sans';
    color: var(--color-text);
}

.link-phone--opacity {
    color: var(--color-white);
}

.link-phone--number {
    font-weight: 500;    
}

.link-phone--text {    
    font-size: 0.75rem;
    font-weight: normal;    
}

/*MENU*/
.nav {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;        
}

.btn__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    width: 102px;   
    background: var(--color-white);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    border-radius: 999px;
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text);
}

.btn__nav--burger {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 24px;
    height: 24px;
}

.btn__nav--line {
    display: block;
    width: 100%;
    height: 2px;  
    background: var(--color-text);
    transition: transform 0.3s ease-in-out;
}

.btn__nav.open .btn__nav--line:nth-child(1) {    
    transform: rotate(45deg);  
}

.btn__nav.open .btn__nav--line:nth-child(2) {    
    transform: translateY(-7px) rotate(-45deg);    
}

.burger-menu {
    display: flex;
    align-items: center;
}

.burger-menu__item {
    padding: 12px;
}

.burger-menu__link { 
    display: inline-block; 
    font-family: 'KyivType Sans';
    font-weight: 500;
    font-size: 0.81rem;
    color: var(--color-text);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.burger-menu__link:hover {
    color: var(--color-braun);
}

.menu__wrapper {    
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    z-index: 100;
    /* max-width: 1440px;
    width: 100%;    */
    pointer-events: none;
    opacity: 0;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    transition: all 0.3s ease-in-out;
}

.menu__wrapper.open {
    opacity: 1;
    transform: translateY(-56px);
    pointer-events: all;
}

.menu__inner {    
    padding: 24px;   
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    z-index: 100;  
    opacity: 0;
    pointer-events: none;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    border-radius: 0px 0px 24px 24px;
    transition: all 0.5s ease-in-out;
}

.menu-bottom__container {       
    display: grid;
    grid-template-columns: 22% 13% auto;
    gap: 48px;
    align-items: flex-start;
    gap: 48px;
    border-radius: 0px 0px 24px 24px;
}

.menu__inner.open {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.menu-top {
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(27, 27, 27, 0.12);
}

.menu-top__item {
    padding: 12px 8px;  
    
}

.menu-top__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;  
    height: 24px;  
    font-family: 'KyivType Sans';
    font-weight: 500;
    font-size: 0.81rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-text);
    cursor: pointer;
}

.menu-top__icon {
    width: 16px;
    height: 16px;   
    transform: translateY(3px);   
    stroke: currentColor; 
    transition: transform 0.3s ease-in-out;    
}

.menu-top__link.open .menu-top__icon {
   transform: translateY(-3px) rotate(180deg);   
}

.menu {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    height: 256px;      
}

.menu__item {
    padding: 8px 0px;    
    width: 100%;   
}

.menu__btn {
    display: flex;
    justify-content: space-between;    
    gap: 8px;
    text-transform: uppercase;
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 142%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-text);
    width: 100%;
    position: relative;
    z-index: 100;
    transition: color 0.3s ease-in-out;
}

.menu__btn--active {
    color: var(--color-braun);
}

.menu__btn:hover {
    color: var(--color-braun);
}

.menu__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-braun-light);
    transition: transform 0.3s ease-in-out;
}

.menu__btn:hover .menu__icon {
    fill: var(--color-braun);
    transform: translateX(5px);
}

.menu__btn--active .menu__icon {
    fill: var(--color-braun);
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.sub-menu__item {
    padding: 8px 0px;    
    font-family: 'KyivType Sans';
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--color-text);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.sub-menu__item--active {
    color: var(--color-braun);
}

.sub-menu__item:hover {
    color: var(--color-braun-light);
}

.menu__cards {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.card {
    padding: 8px 0px;
    display: flex;
    align-items: flex-start;
    gap: 24px;    
    height: 184px;
}

.card__img {
    padding: 4px;
}

.card__img img {    
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-family: 'KyivType Sans';
    font-size: 0.94rem;
    line-height: 144%;
    color: var(--color-black);
}

.card__title {    
    font-weight: 700;    
}

.card__descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 2;
}

.card__btn {
    padding: 14px 0px;
    margin-top: 12px;
    position: relative;
    width: 114px;
    border-bottom: 1px solid rgba(172, 135, 62, 0.2);
    backdrop-filter: blur(8px);
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--color-braun);
}

.card__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../images/icon/card_arrow.svg);
    transition: transform 0.3s ease-in-out;
}

.card__btn:hover::before {
    transform: translate(5px, -51%);
}
/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    width: 100%;  
    max-width: 1440px;
}

.hero {     
    height: 820px;  
    border-radius: 0px 0px 16px 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(70, 50, 40, 0.3), rgba(70, 50, 40, 0.3)), url(../images/Hero_bg.png);    
}

.hero__container {
    padding-top: 205px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    max-width: 63%;
    position: relative;
    z-index: 1;
}

.hero__title {
    position: relative;
    z-index: 0;
    font-size: 60px;
    line-height: 94%;
    letter-spacing: -0.04em;   
    font-size: 60px;
    font-weight: 375;
    line-height: 94%;
}

.hero__title::after {
    content: '';
    position: absolute;
    bottom: -27px;
    right: 84px;
    background-image: url(../images/icon/hero_arrow.svg);
    width: 178px;
    height: 18px;
}

.hero__descr {
    font-family: 'KyivType Sans';
    font-size: 1.125rem;
    line-height: 140%;
    max-width: 53%;
}

.hero__btn {
    margin-top: 8px;
}

.services {
    width: 100%;
    height: 900px;
}