html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

:root {
    --color-bg: #FAF5F0;
    --color-white: #fff;
    --color-black: #000;
    --color-braun: #AC873E;  
    --color-braun-light: #AFA29A;  
    --color-text: #1c1c1c;
    --color-text-light: rgba(#1c1c1c, 0.3);    
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/GTEestiProText-Regular.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/GTEestiProText-Medium.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/GTEestiProText-Bold.woff2') format('woff2'),
        url('../fonts/GTEestiProText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KyivType Sans', sans-serif;
    src: url('../fonts/KyivTypeSans-Light.woff2') format('woff2'),
        url('../fonts/KyivTypeSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;    
} 


@font-face {
    font-family: 'KyivType Sans', sans-serif;
    src: url('../fonts/KyivTypeSans-Regular.woff2') format('woff2'), 
    url('../fonts/KyivTypeSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;    
}

@font-face {
    font-family: 'KyivType Sans', sans-serif;
    src: url('../fonts/KyivTypeSans-Medium.woff2') format('woff2'),
    url('../fonts/KyivTypeSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;    
}

@font-face {
    font-family: 'KyivType Sans', sans-serif;
    src: url('../fonts/KyivTypeSans-Bold.woff2') format('woff2'),
        url('../fonts/KyivTypeSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;    
}

body {
    margin: 0 auto;
    font-family: 'GT Eesti Pro Text', sans-serif;
    font-weight: normal;
    font-size: 0.875rem;    
    line-height: 1.15;
    letter-spacing: -0.01em;    
    color: var(--color-white);
    background-color: var(--color-bg);    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;    
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1390px;
    width: 100%;
}

.btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    justify-content: flex-start;
    color: var(--color-white);    
    border: 1px solid transparent;
    background: transparent;
    font-family: 'KyivType Sans', sans-serif;    
    font-weight: 500;   
    font-size: 0.81rem;
    line-height: 100%; 
    text-align: center;
    cursor: pointer;    
    transition: all 0.3s ease-in-out;
}

.btn--record {
    padding: 8px 18px;
    gap: 8px;    
    border-radius: 999px;  
    background: transparent;   
    text-transform: uppercase;    
    font-size: 0.875rem;
}    

.btn--white {   
    background: var(--color-white);
    color: var(--color-text);
}

.btn--braun {   
    background: linear-gradient(180deg, #D4B26F -66.86%, #A87C25 180.08%);
    color: var(--color-white);   
}

.btn--white:hover {
    background: var(--color-braun); 
    color: var(--color-white);
}

.btn--braun:hover {
    background: var(--color-white);
    color: var(--color-braun);    
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;    
    transition: all 0.3s ease-in-out;
}

.btn__icon .btn__arrow {
    width: 9px;
    height: 9px;
    fill: currentColor;
}

.btn--white .btn__icon {
    background: var(--color-braun);
    color: var(--color-white);
}

.btn--braun .btn__icon {
    background: var(--color-white);
    color: var(--color-braun);
}

.btn--white:hover .btn__icon {
    background: var(--color-white);
    color: var(--color-braun);
}

.btn--braun:hover .btn__icon {
    background: var(--color-braun);
    color: var(--color-white);
}

/*HEADER*/
.header {
    padding: 8px 0;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__wrapper {
    width: 100%;
    background: var(--color-bg);
    position: absolute;
    inset: 0;
    height: 70px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header.color {
    padding: 0;
}

.header.color .header__wrapper {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
} 

.header__container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    width: 100%;    
}

.header__top {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 104px;
    position: relative; 
    z-index: 10;       
}

.header.color .header__top {
    height: 70px;
}

.header__left {
    position: relative;
}

.header-left__inner {
    display: flex;
    align-items: center;
    gap: 12px; 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    transition: background 0.3s ease-in-out;
}

.header-left__inner.hidden {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}

.yandex {
    padding: 4px;    
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(240, 231, 223, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.06);   
    border-radius: 34px;
    width: 166px;
    height: 48px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.yandex:hover, .yandex.color  {
    background: var(--color-white);
    color: var(--color-text);
}

.yandex__icon {
    width: 44px;
    height: 44px;
}

.yandex__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    font-family: 'KyivType Sans', sans-serif;
    transition: color 0.3s ease-in-out;
}

.yandex__title {
    font-weight: 500;
    font-size: 0.875rem;        
}

.yandex__text {    
    font-size: 0.75rem;
    opacity: 0.4;    
}

.header__text {    
    font-weight: 300;
    font-size: 0.75rem;
    max-width: 210px;
    font-family: 'KyivType Sans', sans-serif;
    opacity: 0.4;
}

.header__text.color {
    color: var(--color-text);
}

.header__logo {
    position: relative;
    display: flex; 
    width: 90px;
    height: 70px;  
}

.logo.small {
    height: 30px;
}

.logo__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logo__img:first-child {
    opacity: 1;
    visibility: visible;
}

.logo__img.small {
    opacity: 0;
    visibility: hidden;
}

.logo__img.color {
    opacity: 0;
    visibility: hidden;
}

.header__logo.color .logo__img:first-child,
.header__logo.color .logo__img.small {
    opacity: 0;
    visibility: hidden;
}

.header__logo.color .logo__img.color {
    opacity: 1;
    visibility: visible;
}

.header__logo.small .logo__img:first-child,
.header__logo.small .logo__img.color {
    opacity: 0;
    visibility: hidden;
}

.header__logo.small .logo__img.small {
    opacity: 1;
    visibility: visible;
}

.header__right {
    display: none;
    align-items: center;
    gap: 24px;
    justify-self: end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header__right.visible{
    opacity: 1;
    visibility: visible;
    display: flex;
}

.link-social {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;    
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 90px;
    transition: all 0.3s ease-in-out;
}

.link-social {
    background: var(--color-white);
}

.link-social--opacity {
    background: rgba(255, 255, 255, 0.12);
}

.link-social__icon  {
    width: 20px;
    height: 20px;     
    transition: fill 0.3s ease-in-out;    
}

.link-social__icon.link-social__icon--opacity {
    fill: var(--color-white);
}

.link-social:hover {
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.32);
}

.link-social:not(.link-social--opacity) .link-social__icon--wa {
    fill: #75B252;
} 

.link-social:not(.link-social--opacity) .link-social__icon--tg {
    fill: #539CE0;
} 

.header__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link-phone {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-family: 'KyivType Sans', sans-serif;
    color: var(--color-text);
    transition: transform 0.3s ease-in-out; 
}

.link-phone:hover {
    transform: scale(1.1);
}

.link-phone--opacity {
    color: var(--color-white);
}

.link-phone__number {
    font-weight: 500;    
}

.link-phone__text {    
    font-size: 0.75rem;
    font-weight: normal; 
    opacity: 0.4;   
}

.header__nav {
    position: relative;
    z-index: 20;
}

/*MENU*/
.header__burger {
    position: absolute;     
    inset: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;   
    transition: all 0.3s ease-in-out;     
}

.header__burger.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
}

.burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    width: 102px;   
    background: var(--color-white);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    border-radius: 999px;
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text);
    position: relative;
    z-index: 1000;
}

.burger-btn__inner {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 24px;
    height: 24px;
}

.burger-btn__line {
    display: block;
    width: 100%;
    height: 2px;  
    background: var(--color-text);
    transition: transform 0.3s ease-in-out;
}

.burger-btn.open .burger-btn__line:nth-child(1) {    
    transform: translateY(4px) rotate(45deg);  
}

.burger-btn.open .burger-btn__line:nth-child(2) {    
    transform: translateY(-2px) rotate(-45deg);    
}

.burger-menu {
    display: flex;
    align-items: center;
}

.burger-menu__item {
    padding: 12px;
}

.burger-menu__link { 
    display: inline-block; 
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 500;
    font-size: 0.81rem;
    color: var(--color-text);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.burger-menu__link:hover {
    color: var(--color-braun);
}

.menu__wrapper {    
    padding-bottom: 22px;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    z-index: 100;   
    pointer-events: none;
    opacity: 0;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    transition: all 0.3s ease-in-out;
}

.menu__wrapper.open {
    opacity: 1;
    transform: translateY(-30px);
    pointer-events: all;
}

.menu-bottom__inner {    
    padding: 24px;   
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 0;  
    opacity: 0; 
    width: 100%;
    pointer-events: none;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 2px rgba(58, 58, 58, 0.08);
    border-radius: 0px 0px 24px 24px;
    transition: all 0.5s ease-in-out;
}

.menu-bottom__container {   
    padding-top: 178px;    
    display: grid;
    grid-template-columns: 22% 13% auto;
    gap: 48px;
    align-items: flex-start;
    gap: 48px;
    border-radius: 0px 0px 24px 24px;
}

.menu-bottom__inner.open {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.header__nav {
    width: 100%;
}

.menu-top {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px; 
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-right-color: transparent;
    border-left-color: transparent;
    position: relative;
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.header.color .menu-top{
    transform: translateY(-200%);    
    opacity: 0;     
}

.menu-top.color {
    border-color: rgba(0, 0, 0, 0.12);
    border-right-color: transparent;
    border-left-color: transparent;
}

.menu-top__item {
    padding: 12px 8px;      
}

.menu-top__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;  
    height: 24px;  
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 500;
    font-size: 0.815rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.menu-top__link.color {
    color: var(--color-text);
}

.menu-top__link:hover, .menu-top__link.active {
    color: var(--color-braun);
}

.menu-top__icon {
    width: 16px;
    height: 16px;   
    transform: translateY(3px);   
    stroke: currentColor; 
    transition: transform 0.3s ease-in-out;    
}

.menu-top__link.open .menu-top__icon {
   transform: translateY(-3px) rotate(180deg);   
}

.menu {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    height: 256px;      
}

.menu__item {
    padding: 8px 0px;    
    width: 100%;   
}

.menu__btn {
    display: flex;
    justify-content: space-between;    
    gap: 8px;
    text-transform: uppercase;
    font-family: 'KyivType Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 142%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-text);
    width: 100%;
    position: relative;
    z-index: 100;
    transition: color 0.3s ease-in-out;
}

.menu__btn--active {
    color: var(--color-braun);
}

.menu__btn:hover {
    color: var(--color-braun);
}

.menu__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-braun-light);
    transition: transform 0.3s ease-in-out;
}

.menu__btn:hover .menu__icon {
    fill: var(--color-braun);
    transform: translateX(5px);
}

.menu__btn--active .menu__icon {
    fill: var(--color-braun);
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.sub-menu__item {
    padding: 8px 0px;    
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--color-text);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.sub-menu__item--active {
    color: var(--color-braun);
}

.sub-menu__item:hover {
    color: var(--color-braun-light);
}

.menu-bottom__cards {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.card {
    padding: 8px 0px;
    display: flex;
    align-items: flex-start;
    gap: 24px;    
    height: 184px;
}

.card__img {
    padding: 4px;
}

.card__img img {    
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-family: 'KyivType Sans', sans-serif;
    font-size: 0.94rem;
    line-height: 144%;
    color: var(--color-black);
}

.card__title {    
    font-weight: 700;    
}

.card__descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 2;
}

.card__btn {
    padding: 14px 0px;
    margin-top: 12px;
    position: relative;
    width: 114px;
    border-bottom: 1px solid rgba(172, 135, 62, 0.2);
    backdrop-filter: blur(8px);
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--color-braun);
}

.card__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../images/icon/card_arrow.svg);
    transition: transform 0.3s ease-in-out;
}

.card__btn:hover::before {
    transform: translate(5px, -51%);
}

.menu-mobile {
    width: 100%;  
    display: none;  
}

.menu-mobile__item.ac {   
    margin-bottom: 0; 
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(172, 135, 62, 0.2);    
    border: none;  
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.menu-mobile__header {
    width: 100%;
    
}

.menu-mobile__btn.ac-trigger {
    padding: 12px 0px;    
    display: flex;
    justify-content: space-between;
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 142%;   
    letter-spacing: 0.04em;
    font-feature-settings: 'ss01' on;
    text-transform: uppercase;
    color: #AE8F78;  
    width: 100%;
    position: relative;    
}


.ac.is-active .menu-mobile__btn, .ac .ac-trigger:focus {
    color: var(--color-text);
}

.menu-mobile__icon {   
    width: 14px;
    height: 8px;  
    transform-origin: center center;  
    stroke: currentColor; 
    transition: transform 0.3s ease-in-out;    
}

.menu-mobile__icon use {
    width: 100%;
    height: 100%;
}

.ac .ac-trigger::after {
  content: none;
}

.ac.is-active .menu-mobile__icon {    
    transform: rotate(180deg);   
}

.ac .ac-panel .sub-mobile.ac-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: 100%;  
}

.sub-mobile__item {
    
    width: 100%;
}

.sub-mobile__link {
    padding: 7px 12px;
    font-family: 'KyivType Sans';
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--color-text);
    text-transform: none;
    width: 100%;
}

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    width: 100%;      
}

.hero {      
    position: relative;
    overflow: hidden;
    min-height: 90vh;      
}

.mySwiper2 {
    width: 100%;    
    height: 90vh; 
    position: relative;
}

.mySwiper2 .swiper-slide::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),linear-gradient(0deg,rgba(70,50,40,.3),rgba(70,50,40,.3));
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide__container {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 100%;
    border-radius: 0px 0px 16px 16px; 
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    z-index: 100;     
}

.hero__yandex {
    margin-bottom: 24px;
    display: none;
}

.swiper-slide__content {   
    padding-top: 205px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;    
    height: 100%;     
}

.swiper-slide__title {
    position: relative;    
    font-size: 3.75rem;
    font-weight: 375;
    line-height: 94%;
    letter-spacing: -0.04em; 
    max-width: 863px;      
}

.swiper-slide__title::after {
    content: '';
    position: absolute;
    bottom: -27px;
    right: 84px;
    background-image: url(../images/icon/hero_arrow.svg);
    width: 178px;
    height: 18px;
}

.swiper-slide__descr {
    font-family: 'KyivType Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 140%;
    max-width: 455px;
    opacity: 0.4;
}

.swiper-slide__btn {
    margin-top: 8px;
}

.mySwiper {    
    position: absolute;
    bottom: 42px;
    left: 50%;    
    transform: translateX(-50%);
    display: flex;    
    min-width: 100rem;
}

.mySwiper .swiper-wrapper {
    width: auto;
}



.swiper-slide-thumb-active .hero__slide {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    cursor: pointer;
    position: relative;
    overflow: hidden;  
    background: transparent;
    border: none;   
    width: 260px;  
    height: 174px;    
}

.mySwiper .swiper-slide {
    width: 144px;
    height: 174px;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active  {
    width: 260px;       
}

.slide__inner {
    padding: 4px;
    display: flex;   
    gap: 4px;   
    min-height: 138px;      
    position: relative;
    border: 1px solid transparent;
    border-radius: 20px;   
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: all 0.3s ease-in-out; 
    box-sizing: border-box;
}

.slide__inner::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.12);    
    backdrop-filter: blur(8px);
    z-index: 1;
    border-radius: 20px; 
}

.swiper-slide-thumb-active .slide__inner {
    background: var(--color-white);
}

.swiper-slide-thumb-active .slide__inner::before {
    display: none;
}

.slide__content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
    position: relative;
    z-index: 2;
}

 .slide__number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: var(--color-white);    
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 100%;    
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.swiper-slide-thumb-active .slide__number {
    border: 1px solid rgba(213, 175, 98, 0.6);
    color: var(--color-text);
}

.slide__descr {
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;   
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.swiper-slide-thumb-active .slide__descr {    
    color: var(--color-text);
}

.swiper-slide-thumb-active .slide__img { 
    display: block;
    flex-shrink: 0;
    position: relative;  
    top: 0;
    right: 0; 
    background: rgba(213, 175, 98, 0.18);    
    border-radius: 17px;
    width: 124px;
    height: 130px;
    transform: translateY(0%);
}

.slide__img {   
    display: none;
}

.swiper-slide-thumb-active .slide__img img {   
    border-radius: 17px;    
}

.slide__line {
    margin-top: 16px;
    display: inline-block;   
    width: 100%;    
    height: 4px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 32px; 
    position: relative;
    overflow: hidden;
    background: transparent;
}

.slide__line::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 0%;
    height: 4px;
    background: var(--color-white);
    border-radius: 32px;   
}

.swiper-slide-thumb-active  .slide__line::after {
    animation: fillLine 4s forwards ease-in-out;
    animation-delay: 0.2s;
}

@keyframes fillLine {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.services {
    width: 100%;
    height: 900px;
}
